{% extends "base.html" %}

{% block content %}

<h2>BI/MI Infrastructure</h2>
            <p>Whether you need to enhance your existing BI system, or create an analytics roadmap to set your
               strategy, our experienced team can take you to where you want to go.</p>
            <p>More than just technology specialists - we're your trusted advisors, helping you leverage new technology,
               to creat brilliant analytics solutions.</p>
            <p> Click <a href="url">here</a> to email and arrange a call back or a personal visit to discuss your requirements.</p>

{% endblock %}
