{% extends "base.html" %}

{% block content %}

<p style="font-size: 500%"> Big Data </p>
            <p style="font-size: 175%"> The information age gives businesses of all kinds access to Big Data that's growing
                in volume, variety, velocity and complexity. With more data coming from more sources
                faster than ever, the question is: </p>
            <img src="http://codefry.com/sites/default/files/BigData.png" width="500" height="300" align="right">
            <ul style="font-size: 175%">
              <li> What is your Big Data strategy?</li>
              <li> How are you combing new and existing data sources to make better decisions about your business?</li>
              <li> How could new data sources including social, sensors, location and video help improve your business performance?</li>
              <li> Will your Big Data remain dormant or will you make it work for you?</li>
            </ul>
            <br>
            <p style="font-size: 175%"> Click <a href="url">here</a> to email and arrange a call back or personal visit to discuss you requirements.</p>

{% endblock %}
