{% extends "base.html" %}

{% block content %}

<p style="font-size: 500%"> Enterprise Data Architecture</p>
            <p style="font-size: 175%">Enterprise Data Architecture is defined as:</p>
            <p style="font-size: 150%" align="center"><i>"The processes and practices that leverages a master set of Conceptual, Logical and Physical data
                   models to support the management of common corporate data, metadata and taxonomies for the evolving
                   needs of the business and to provide a business stategy that guides the integration, usage, quality
                   improvement and effective delivery of data."</i></p>
            <p style="font-size: 175%">The dilemma facing an organization that wants to achieve a well-managed Enterprise Data Architecture
              program is determing if this a Requirement or a Roadblock? The questions that are frequently asked are:</p>
            <ul style="font-size: 175%">
              <li>What level of investment is required?</li>
              <li>How is progress measured?</li>
              <li>When will the corporation see a benefit?</li>
              <li>How do we get started?</li>
            </ul>
            <p style="font-size: 175%">Our consultants can help you answer these and many other questions. Click <a href="url">here</a> to email
               and arrange a call back or a personal visit to discuss your requirements.</p>

{% endblock %}
