{% extends "base.html" %}

{% block content %}

<p> Welcome to NMAM Consulting. We are an independent consultancy specialising: </p>
              <ul class="b">
                <li>Big data</li>
                <li>Enterprise Data Architecture</li>
                <li>BI/MI Ibfrastructure</li>
                <li>Master Data Management</li>
                <li>Data Quality</li>
              </ul>
              <br>
              <p> We can also provide <a href="Project_M.html">project management services</a>, either traditional or Agile methodologies.</p>
              <p>
                For further information, click one of the links above or click <a href="url">here</a> to email and arrange a call
                back or a personal visit to discuss your requirements. </p>

{% endblock %}
